<div class="number-field" [ngClass]="{onLightBg: onLightBg}">
	<div class="field has-addons">
		<div class="control">
			<a class="button" (click)="minus(model)">
				<i class="fa fa-minus"></i>
			</a>
		</div>
		<div class="control">
			<input  name="model" [(ngModel)]="model" class="input" type="number" min="1" (change)="fieldChanged($event.target.value)" (blur)="emit_blur()">
		</div>
		<div class="control">
			<a class="button" (click)="plus(model)">
				<i class="fa fa-plus"></i>
			</a>
		</div>
	</div>
</div>



<!-- <div class="field has-addons">
	<div class="control">
		<a class="button" (click)="minus(buildQty)">
			<i class="fa fa-minus"></i>
		</a>
	</div>
	<div class="control">
		<input  name="buildQty" [(ngModel)]="buildQty" class="input" type="number" min="1" (change)="setBuildQTY($event.target.value)">
	</div>
	<div class="control">
		<a class="button" (click)="plus(buildQty)">
			<i class="fa fa-plus"></i>
		</a>
	</div>
</div> -->